<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bestellung <%= @order.number %> kann nicht mit PayPal bezahlt werden</h1>

    <%= render 'shared/order_details' %>
</html>
