<header>
  <div class="container">
    <div class="row line">
        <%= link_to(image_tag("logo-amavat-europe-v3.png", alt: "Amavat logo",
            width: '60%'), 'http://www.amavat.eu', id: "logo") %>
    </div>
  </div>
</header>
